.card {
    position: 'absolute';
    z-index: 9999;
    transition: opacity 0.5s ease-in-out;
    min-width: 400px;
    max-width: 50%;
    max-height: 50%;
    overflow-y: auto;
    border-radius: 1.3rem;

    h1 {
        font-size: 3em;
        padding: 15px;
        border-bottom: 1px solid #000;
    }

    p {
        font-size: 2em;
    }


}

.container {
    animation-name: voila;
}

@keyframes voila {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}